services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.test
    env_file:
      - ./backend/.env.test
    networks:
      - eicnet
    command: daphne -b 0.0.0.0 -p 8000 app.asgi:application
    volumes:
      - ./backend/static:/app/static
      - ./backend/media:/app/media
    expose:
      - "8000"
    mem_limit: 3g
    cpu_shares: 1024

  nginx:
    image: nginx:1.24-alpine
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - backend
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./backend/static:/backend/static:ro
      - ./backend/media:/backend/media:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
    networks:
      - eicnet

networks:
  eicnet:
    driver: bridge
